<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col">Senha</th>
    </tr>
  </thead>
  <tbody>
    <%# let index = 1; dados.forEach(user => { %> 
    <% for(let i= 0; i < dados.length; i++) { %>
    <tr <%- req.session.username==dados.username ? `style="color: white; font-style: bold;"` : `` %>>
      <td><%= dados.id %></td>
      <td><%=dados.username%></td>
      <td><%=dados.email%></td>
      <td><%=dados.celular%></td>
      <td><%=dados.password%></td>
    </tr>
    <%}; %>
  </tbody>
</table>
